.main
{
    margin: 100px auto;
    height: 1040px;
    width: 1000px;
}
.main-topline
{
    margin: auto 10px;
    height: 350px;
    width: 960px;
}
.main-topline__photo
{
    float: left;
    border-radius: 5px; 
}
.main-topline-quotes
{
    margin: auto 390px;
    height: 200px;
    width: 570px;
}
.main-topline-quotes__img
{
    margin: 50px auto;
}
.main-topline-quotes__quote
{
    margin: -72px 0 0 60px;
    font-size: 28px;
    line-height: 42px;
    color: #848484;
    font-weight: 300;
    font-style: italic;
    font-family: "Georgia";    
}
.main-topline-quotes__author
{
    margin: 2px 0 0 63px;
    font-size: 16px;
    line-height: 42px;
    color: #333333;
    font-weight: 600;
    font-family: "Open Sans";    
}
.main-bottomline
{
    height: 640px;
    width: auto;
}
.main-bottomline-lists
{
    float: left;
    margin: auto 10px;
    height: auto;
    width: 330px;
}
.main-bottomline-lists__title
{
    margin: 0 0 13px 0;
    font-size: 24px;
    line-height: 32px;
    color: #15a98c;
    font-weight: 600;
    font-family: "Open Sans";    
}
.main-bottomline-lists__authors
{
    margin: 0 0 41px 21px;
    padding: 0 0 0 0;
    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: "Georgia";    
}
.main-bottomline-lists__films
{
    margin: -1px 0 41px 20.7px;
    padding: 0 0 0 0;
    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: "Georgia";    
}
.main-bottomline-text
{
    margin: 45px 0 0 404px;
    height: auto;
    width: 570px;
}
.main-bottomline-text__owner
{
    font-size: 48px;
    line-height: 42px;
    color: #333333;
    font-weight: 700;
    font-family: "Open Sans";    
}
.main-bottomline-text__rectangle
{
    margin: -1px 0 0 -4px;
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background-color: #45c3aa;    
}
.main-bottomline-text__aboutme
{
    margin: 44px 0 0 -4px;;
    font-size: 19px;
    line-height: 32px;
    color: #555555;
    font-family: "Georgia";    
}
.main-bottomline-text__articlename
{
    margin: 42px 0px 0 -6px;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans";    
}
.main-bottomline-text__article
{
    margin: 15px 0 0 -4px;;
    font-size: 19px;
    line-height: 32px;
    color: #555555;
    font-family: "Georgia";    
}
.ref-container
{
    width: 140px;
    margin: 41px 0 0 -4px;
    font-size: 19px;
    color: #15a98b;
    font-family: "Georgia";     
}
.ref
{
    line-height: 32px;
    text-decoration: none;
    color: #15a98b;
    font-family: "Georgia"; 
    font-weight: 400;
    border-bottom: #15a98b solid 2px;   
}
.ref:hover,
.ref-container:hover
{
    color: #098d72;  
}
.clear
{
    clear: both;
}